@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: white;
  background: rgb(152, 208, 210);
  background: radial-gradient(circle, rgb(67, 178, 223) 0%, rgb(0, 0, 0) 100%);
}

.bg1 {
  background-color: rgba(0, 0, 0, 0.199);
  backdrop-filter: blur(5px);
}

/*   background: rgb(152, 208, 210);
  background: radial-gradient(
    circle,
    rgba(152, 208, 210, 1) 0%,
    rgba(241, 238, 238, 1) 100%
  ); */
